# General configuration options

# Copyright (c) 2014-2015 Wind River Systems, Inc.
# Copyright (c) 2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0


# Include Kconfig.defconfig files first so that they can override defaults and
# other symbol/choice properties by adding extra symbol/choice definitions.
# After merging all definitions for a symbol/choice, Kconfig picks the first
# property (e.g. the first default) with a satisfied condition.
#
# Shield defaults should have precedence over board defaults, which should have
# precedence over SoC defaults, so include them in that order.
#
# $ARCH and $BOARD_DIR will be glob patterns when building documentation.
# This loads custom shields defconfigs (from BOARD_ROOT)
#osource "$(KCONFIG_BINARY_DIR)/Kconfig.shield.defconfig"
# This loads Zephyr base shield defconfigs
#source "boards/shields/*/Kconfig.defconfig"

#source "$(BOARD_DIR)/Kconfig.defconfig"

# This loads custom SoC root defconfigs
#osource "$(KCONFIG_BINARY_DIR)/Kconfig.soc.defconfig"
# This loads Zephyr base SoC root defconfigs
#osource "soc/$(ARCH)/*/Kconfig.defconfig"
# This loads the toolchain defconfigs
#osource "$(TOOLCHAIN_KCONFIG_DIR)/Kconfig.defconfig"

# This should be early since the autogen Kconfig.dts symbols may get
# used by modules
#source "dts/Kconfig"

#menu "Modules"

#source "modules/Kconfig"

#endmenu

#source "boards/Kconfig"
source "soc/Kconfig"
source "arch/Kconfig"
#source "kernel/Kconfig"
#source "drivers/Kconfig"
#source "lib/Kconfig"
#source "subsys/Kconfig"

#osource "$(TOOLCHAIN_KCONFIG_DIR)/Kconfig"

