# SPDX-License-Identifier: Apache-2.0

config BOARD_BSIM
	select SOC_POSIX
	select NRF_RTC_TIMER
	select CLOCK_CONTROL

config BOARD_BSIM_POSIX_NRF52833
	bool
	select SOC_SERIES_BSIM_NRF52X
	select SOC_COMPATIBLE_NRF52833
	help
	  Will produce a console Linux process which can be executed natively.
	  It needs the BabbleSim simulator both in compile time and to execute

config BOARD_BSIM_POSIX_NRF5340_CPUNET
	bool
	select SOC_SERIES_BSIM_NRF53X
	select SOC_COMPATIBLE_NRF5340_CPUNET
	help
	  Will produce a console Linux process which can be executed natively.
	  It needs the BabbleSim simulator both in compile time and to execute

config BOARD_BSIM_POSIX_NRF5340_CPUAPP
	bool
	select SOC_SERIES_BSIM_NRF53X
	select SOC_COMPATIBLE_NRF5340_CPUAPP
	help
	  Will produce a console Linux process which can be executed natively.
	  It needs the BabbleSim simulator both in compile time and to execute
