CONFIG_PINCTRL=y
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_NRFX_GPIOTE_NUM_OF_EVT_HANDLERS=1
CONFIG_NRFX_TWI0=y
CONFIG_ZCBOR=y
CONFIG_MCUBOOT_UTIL_LOG_LEVEL_WRN=y
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52833_QIAA=y
CONFIG_ARM_MPU=y
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2304
# CONFIG_CLOCK_CONTROL_NRF_SHELL is not set
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_ENTROPY_NRF5_THR_THRESHOLD=4
CONFIG_ENTROPY_NRF5_ISR_THRESHOLD=12
CONFIG_FLASH=y
# CONFIG_FLASH_SHELL is not set
# CONFIG_BME280 is not set
# CONFIG_LIS2DH is not set
CONFIG_RING_BUFFER=y
CONFIG_BASE64=y
CONFIG_BT=y
CONFIG_BT_PERIPHERAL=y
CONFIG_BT_BUF_ACL_TX_SIZE=502
CONFIG_BT_BUF_ACL_RX_SIZE=502
CONFIG_BT_L2CAP_TX_MTU=498
# CONFIG_BT_CTLR_LE_PING is not set
CONFIG_BT_CTLR_DATA_LENGTH_MAX=251
CONFIG_IMG_MANAGER=y
CONFIG_FILE_SYSTEM=y
CONFIG_FILE_SYSTEM_LITTLEFS=y
CONFIG_LOG=y
CONFIG_LOG_MAX_LEVEL=3
CONFIG_MCUMGR=y
CONFIG_MCUMGR_GRP_FS=y
CONFIG_MCUMGR_GRP_FS_CHECKSUM_HASH=y
CONFIG_MCUMGR_GRP_IMG=y
CONFIG_MCUMGR_GRP_OS=y
CONFIG_MCUMGR_GRP_ZBASIC=y
CONFIG_MCUMGR_GRP_ZBASIC_STORAGE_ERASE=y
CONFIG_MCUMGR_TRANSPORT_WORKQUEUE_STACK_SIZE=4608
CONFIG_MCUMGR_TRANSPORT_NETBUF_SIZE=2475
CONFIG_MCUMGR_TRANSPORT_BT=y
CONFIG_MCUMGR_TRANSPORT_BT_REASSEMBLY=y
CONFIG_MCUMGR_TRANSPORT_BT_CONN_PARAM_CONTROL=y
CONFIG_SHELL=y
CONFIG_SHELL_BACKEND_DUMMY=y
# CONFIG_SHELL_HELP is not set
# CONFIG_SHELL_HISTORY is not set
# CONFIG_SHELL_STATS is not set
# CONFIG_SHELL_CMDS is not set
# CONFIG_DEVICE_SHELL is not set
# CONFIG_DEVMEM_SHELL is not set
CONFIG_FLASH_MAP=y
CONFIG_STREAM_FLASH=y
CONFIG_BOOTLOADER_MCUBOOT=y
CONFIG_MCUBOOT_SIGNATURE_KEY_FILE="/tmp/aa/bootloader/mcuboot/root-rsa-2048.pem"
