# EFR32BG13 BRD4104A / EFR32MG21 BRD4180A /
# EFR32FG1P BRD4250B / EFR32FG13P BRD4255A board

# Copyright (c) 2020 Piotr Mienkowski
# Copyright (c) 2020 TriaGnoSys GmbH
# SPDX-License-Identifier: Apache-2.0

config BOARD_EFR32_RADIO_BRD4104A
config BOARD_EFR32_RADIO_BRD4250B
config BOARD_EFR32_RADIO_BRD4180A
config BOARD_EFR32_RADIO_BRD4255A