config SOC_NRF52805
	depends on SOC_SERIES_NRF52X
	bool

config SOC_NRF52810
	depends on SOC_SERIES_NRF52X
	bool

config SOC_NRF52811
	depends on SOC_SERIES_NRF52X
	bool

config SOC_NRF52820
	depends on SOC_SERIES_NRF52X
	bool

config SOC_NRF52832
	depends on SOC_SERIES_NRF52X
	bool
	select SOC_COMPATIBLE_NRF52832
	select CPU_CORTEX_M_HAS_DWT
	select CPU_HAS_FPU

config SOC_NRF52833
	depends on SOC_SERIES_NRF52X
	bool
	select CPU_CORTEX_M_HAS_DWT
	select CPU_HAS_FPU

config SOC_NRF52840
	depends on SOC_SERIES_NRF52X
	bool
	select CPU_CORTEX_M_HAS_DWT
	select CPU_HAS_FPU

config SOC_NRF52805_CAAA
	bool
	select SOC_NRF52805

config SOC_NRF52810_QFAA
	bool
	select SOC_NRF52810

config SOC_NRF52811_QFAA
	bool
	select SOC_NRF52811

config SOC_NRF52820_QDAA
	bool
	select SOC_NRF52820

config SOC_NRF52832_CIAA
	bool
	select SOC_NRF52832

config SOC_NRF52832_QFAA
	bool
	select SOC_NRF52832

config SOC_NRF52832_QFAB
	bool
	select SOC_NRF52832

config SOC_NRF52833_QIAA
	bool
	select SOC_NRF52833

config SOC_NRF52840_QIAA
	bool
	select SOC_NRF52840
