# Nordic Semiconductor nRF52 MCU line

# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config SOC_NRF5340
	bool
	depends on SOC_SERIES_NRF53X

config SOC_NRF5340_CPUAPP
	bool
	depends on SOC_SERIES_NRF53X

config SOC_NRF5340_CPUNET
	bool
	depends on SOC_SERIES_NRF53X

config SOC_NRF5340_CPUAPP_QKAA
	bool "NRF5340_CPUAPP_QKAA"
	select SOC_NRF5340
	select SOC_NRF5340_CPUAPP

config SOC_NRF5340_CPUNET_QKAA
	bool "NRF5340_CPUNET_QKAA"
	select SOC_NRF5340
	select SOC_NRF5340_CPUNET

rsource "Kconfig.soc.names"
