# Nordic Semiconductor nRF53 MCU line SoC names.

# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

# This file contains SoC names and is shared between SoC scheme v1 and v2.

config SOC
	default "nRF5340_CPUAPP_QKAA"
	depends on SOC_NRF5340_CPUAPP_QKAA

config SOC
	default "nRF5340_CPUNET_QKAA"
	depends on SOC_NRF5340_CPUNET_QKAA
